<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Products'}) %>
<body>
  <%- include('partials/headerNavbar', {title: 'Products'}) %>

    <section class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">
<!-- card products -->
<% products.forEach((product) => { %>
  <div class="item">
    <h1 class="titulo-item"><%= product.name %></h1>
    <span class="titulo-item"><%= product.name %></span>
    <img src="/images/products/<%= product.image %>" alt="" class="img-item">
    <span class="precio-item">$<%= product.price %></span>
    <button class="boton-item">Agregar al Carrito</button>
  </div>
<% }) %>

        </div>
        <!-- Carrito de Compras -->
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2>Tu Carrito</h2>
            </div>

            <div class="carrito-items">
                <!-- 
                <div class="carrito-item">
                    <img src="img/boxengasse.png" width="80px" alt="">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Box Engasse</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="1" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$15.000,00</span>
                    </div>
                   <span class="btn-eliminar">
                        <i class="fa-solid fa-trash"></i>
                   </span>
                </div>
                <div class="carrito-item">
                    <img src="img/skinglam.png" width="80px" alt="">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Skin Glam</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="3" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$18.000,00</span>
                    </div>
                   <button class="btn-eliminar">
                        <i class="fa-solid fa-trash"></i>
                   </button>
                </div>
                 -->
            </div>
            <div class="carrito-total">
                <div class="fila">
                  <strong>Tu Total</strong>
                  <span class="carrito-precio-total">
                    $120.000,00
                  </span>
                </div>
                <form action="/carrito/pagar" method="POST">
                  <button type="submit" class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i></button>
                </form>
              </div>
              
              
    </section>
    
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
    <script src="/js/products.js" ></script> 
      
      <!--=============== SCROLLREVEAL ===============-->
      <script src="/js/scrollreveal.min.js"></script>
    
      <!--=============== SWIPER JS ===============-->
      <script src="/js/swiper-bundle.min.js"></script>
    
      <!--=============== MAIN JS ===============-->
      <script src="/js/main.js"></script>


</body>
</html>